@page
@model MorningBankRazor.Pages.Transfers.TransferCToSModel

@{
    ViewData["Title"] = "TransferCToS";
}

<h2>Transfer Checking To Saving Account</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="checkingBalance" class="control-label"></label>
                <input asp-for="checkingBalance" class="form-control" />
                <span asp-validation-for="transactionHistories.CheckingAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="savingBalance" class="control-label"></label>
                <input asp-for="savingBalance" class="form-control" />
                <span asp-validation-for="transactionHistories.SavingAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transactionHistories.Amount" class="control-label"></label>
                <input asp-for="transactionHistories.Amount" class="form-control" />
                <span asp-validation-for="transactionHistories.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Transfer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
